.version.index /* version checker */
{
	color: #0000E0;
	background-color: #A79B02;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 547px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 23px;
}

#pu1557
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1557
{
	z-index: 9;
	min-height: 805px;
	background: transparent url("../../images/a44ab6f7eb789b8c60925e1f2e4c6c9a.jpg") no-repeat center top;
}

#u1557_position_content
{
	padding-bottom: 519px;
}

#pu1564
{
	width: 0.01px;
	position: relative;
}

#u1564
{
	z-index: 14;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1564:hover
{
	border-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 56px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1558-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 79px;
}

#u1585
{
	z-index: 36;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 76px;
	margin-top: 3px;
	position: relative;
}

#u1586
{
	z-index: 37;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 88px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1587
{
	z-index: 38;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 100px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1588
{
	z-index: 39;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 112px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1589
{
	z-index: 40;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 124px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1575
{
	z-index: 26;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 228px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1576
{
	z-index: 27;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 240px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1577
{
	z-index: 28;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 252px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1578
{
	z-index: 29;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 264px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1579
{
	z-index: 30;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 276px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1580
{
	z-index: 31;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 288px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1581
{
	z-index: 32;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 300px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1582
{
	z-index: 33;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 312px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1583
{
	z-index: 34;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 324px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1584
{
	z-index: 35;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	margin-left: 336px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#pu1570
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 22px;
	position: relative;
}

#u1570
{
	z-index: 18;
	width: 89px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 184px;
	padding-bottom: 7px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -2px;
}

#u1570:hover
{
	width: 89px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
}

#u1572
{
	z-index: 23;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u1572:hover
{
	width: 77px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u1590
{
	z-index: 41;
	width: 86px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 184px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 133px;
}

#u1590:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1591
{
	z-index: 42;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
}

#u1593
{
	z-index: 44;
	width: 89px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 184px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 269px;
}

#u1593:hover
{
	width: 89px;
	min-height: 0px;
	margin: -2px -10000px -2px 0px;
}

#u1570:hover::before,#u1590:hover::before,#u1593:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 184px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1594
{
	z-index: 45;
	overflow: hidden;
	margin-bottom: -2px;
	position: relative;
	width: 96px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u1557-bw
{
	z-index: 9;
	min-height: 805px;
}

#u1566
{
	z-index: 16;
	width: 43px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 7px;
}

#u1566:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 43px;
	min-height: 0px;
	margin: 56px -10000px 0px 0px;
}

#u1571-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 133px;
}

#u1574
{
	z-index: 25;
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 216px;
}

#u1606
{
	z-index: 7;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 805px;
	left: 94px;
}

#u1606:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 48px;
	min-height: 0px;
	margin: 805px -10000px 0px 0px;
}

#u1605-5
{
	z-index: 2;
	width: 142px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 817px;
	left: 148px;
}

#u1605-2
{
	font-family: abel, sans-serif;
	font-weight: 400;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -804px;
}

